html,
body {
  scroll-behavior: smooth;
}

html .allContent,
body .allContent {
  font-family: "Architects Daughter", cursive;
}

.navbar.scrolled {
  border-bottom: 2px solid #76a7bc;
  background-color: #f2faff !important;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  width: 100%;
}

nav .navLogo {
  width: 110px;
}

nav .navbar-nav .nav-item {
  margin-left: 0;
}

nav .navbar-nav .nav-item a:link {
  font-weight: 700;
}

nav .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.4);
}

nav .dropdown-menu .dropdown-item {
  color: #f2faff;
}

.header {
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  background-image: url("../imgs/headerBack.jpeg");
  background-size: cover;
  border-bottom: 4px solid #6ecddd;
}

.header .headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16em 1em;
}

.header .headerContent .learnBtn {
  width: 8em;
  margin: 4em auto;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid black;
}

.header .headerContent .learnBtn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
}

.mainContent {
  border-top: 3px solid #0872ba;
  border-bottom: 3px solid #0872ba;
  padding: 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), color-stop(15%, whitesmoke), color-stop(36%, #e8e8e8), color-stop(65%, #97e2ed), to(#6ecddd));
  background: linear-gradient(to bottom, whitesmoke 0%, whitesmoke 15%, #e8e8e8 36%, #97e2ed 65%, #6ecddd 100%);
}

.mainContent .about {
  border-bottom: 2px solid #6ecddd;
  padding-bottom: 2em;
}

.mainContent .about h2,
.mainContent .about h4 {
  font-weight: 600;
}

.mainContent .about h4 {
  margin-top: 1em;
}

.mainContent .about p {
  font-size: 18px;
}

.mainContent .about .calendarCont {
  width: 90%;
  margin: 1em auto 0 auto;
}

.mainContent .about .calendarCont .calendar {
  width: 100%;
  margin: 1em 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.mainContent .about .know1 {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainContent .about .know1 p {
  font-weight: 600;
}

.mainContent .about .know1 .icon img {
  width: 70px;
}

.mainContent .about .know2 {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainContent .about .know2 p {
  font-weight: 600;
}

.mainContent .about .know2 .icon img {
  width: 70px;
}

.mainContent .projects {
  margin: 1.5em 0 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContent .projects h2 {
  margin-bottom: 1em;
  font-weight: 600;
}

.mainContent .projects .cardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.mainContent .projects .cardContainer .card {
  background-color: white;
  -webkit-box-shadow: 5px 5px 8px 2px #5874d0;
  box-shadow: 5px 5px 8px 2px #5874d0;
  width: 100%;
  margin-bottom: 1.5em;
}

.mainContent .projects .cardContainer .card .card-body .card-title {
  font-weight: bold;
}

.mainContent .projects .cardContainer .card .card-body .card-lang {
  font-weight: 600;
}

.mainContent .projects .cardContainer .card .card-body .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContent .projects .cardContainer .card .card-body .btn-container .btn {
  border: 1px solid lightgrey;
}

.mainContent .projects .cardContainer .card .card-body .btn-container .btn:first-child {
  margin-right: 0.5em;
}

.mainContent .projects .cardContainer .card .card-body .btn-container .btn:last-child {
  margin-left: 0.5em;
}

@media only screen and (max-width: 768px) and (min-width: 375px) {
  nav .navbar-collapse {
    background-color: #f2faff !important;
  }
}

@media (min-width: 375px) {
  .header h1 {
    font-size: 2.7em;
    font-weight: 600;
  }
  .header h2 {
    font-weight: 300;
  }
  .about .know1 .icon p {
    font-size: 12px;
  }
  .about .know2 .icon p {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .header h1 {
    font-size: 4em;
    font-weight: 600;
  }
  .header h2 {
    font-size: 3em;
    font-weight: 300;
  }
  .header .learnBtn {
    margin: 4em 0;
    font-size: 1.5em;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid black;
  }
  .about .know1 .icon p {
    font-size: 18px;
  }
  .about .know2 .icon p {
    font-size: 18px;
  }
  .projects .cardContainer {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .projects .cardContainer .card {
    width: 35% !important;
  }
}
/*# sourceMappingURL=index.css.map */